<!doctype html>
<html lang="fr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}

    <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet">
    
    {% endblock %}
    <title>{% block title %}Share -{% endblock %}</title>

  </head>

  <body>

    {% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path("accueil")}}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{path("contact")}}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("mentions")}}">Mentions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("apropos")}}">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("inscription")}}">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("commentaire")}}">Laisser un commentaire</a>
        </li>                                        
      </ul>
    </div>
  </div>
</nav>

{% for message in app.flashes('notice') %}
  <h2 class="alert alert-info text-center" role="alert">
    {{ message }}
  </h2>
{% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    {% endblock %}

  </body>

    {% block javascripts %}

    {% endblock %}
</html>


